<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='epub.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>

    <div id="InputDiv">
        <label for="Input">Input Type:</label>
        <select id="InputType">
            <option value="file">Ebook File</option>
            <option value="text">Book's Name</option>
        </select>
    </div>
    <button id="ChooseButton"> Choose </button>



    <input type="text" id="BookName"  placeholder="What is the name of the book">
    <input type="file" id="FileInput"  value="Upload">
    <input type="text" id="tone"  placeholder="How would you like the story?">
    

    <button id="SendButton"> Reformulate to an Audio</button>
    <br>
    <br>
    <br>

    <!-------an Audio Visualizer with Playback buttons------>
    
    <button id="Back"> -5s </button>
    <button id="Pause"> Pause/Play </button>
    <button id="Forward"> +5s </button>
    
    <!---->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
</body>
</html>