<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    {% if res %}
        <form action="/" method="post">
            <input type="text" name="prompt" id="prompt"  value="{{res}}">
            <input type="submit" value="Submit">
        </form>
        <h1>{{res}}</h1>
    {% else %}
        <form action="/" method="post">
            <input type="text" name="prompt" id="prompt"  value="How would you like the story?">
            <input type="submit" value="Submit">
        </form>
    {% endif %}

</body>
</html>